@model IEnumerable<Laba1.Genres>

@{
    ViewData["Title"] = "Genres";
}

    <h1>Genres</h1>

<p>
    <a asp-action="Create">Add New Genre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenName)
            </td>
            @if (User.IsInRole("admin") || User.IsInRole("moder"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GenId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GenId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GenId">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.GenId">Details</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
