@model Laba1.Artists

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artists</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AGender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ABirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ABirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.APhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.APhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country.CCapital)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.GrName)
        </dd>
    </dl>
</div>
@if (User.IsInRole("admin") || User.IsInRole("moder"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.AId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
